*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .container{
    width:80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    flex-wrap: wrap;
    height: auto;
}
.product{
    width: 200px;
    background-color: green;
    height: 200px;
    margin: 20px;
}
@media only screen and (max-width:630px){
    .product{
        background-color: yellow;
        border-radius: 50%;
    }.product:hover{
        background-color: rgb(182, 243, 16);
    } */
/* .box{
    width: 80%;
    height: 600px;
    background-size: contain;
    background-image: url("https://images6.alphacoders.com/106/1069078.jpg");
    background-repeat: no-repeat;
}
@media only screen and (max-width:800px){
    .box{
        background-image: url("https://images8.alphacoders.com/712/712496.jpg");
    background-repeat: no-repeat;
    }
} */
.wrapper{
    width: 80%;
    height: 500px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-gap:20px;
}
.box{
    background-color: green;
}
@media only screen and (max-width:700px){
    .wrapper{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
    }
}
@media only screen and (max-width:400px){
    .wrapper{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
    }
}
@media only screen and (max-width:200px){
    .wrapper{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr;
    }
}